@import "tailwindcss";

:root {
    --dark: #1E1E1E;
    --footer: #000000;
}


/* Applies globally */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
